.container-nav-bar {
  display: flex;  
  justify-content: space-between;  
  align-items: stretch;
  height: 50px;
  /*margin: -8px;*/
  border: 5px solid black;
}

.container-nav-brand {
  display: flex;    
  border: 2px solid red;
  background-color: lightgrey;
}

.container-nav-button {
  display: flex;
  border: 2px solid red;
  margin: 10px;    
}

.container-nav-logo {
  border: 2px solid red;   
}

.nav-brand {
  margin:3px 3px 0px 3px;  
}

.nav-button {
  margin:3px 3px 0px 3px;  
  /*color: red;  */
}

.nav-logo {
  margin:3px 3px 0px 3px;  
}